@media screen and (max-width: 768px)
    .header
        padding-top: rem(15)
        padding-bottom: rem(15)

        &__menu
            display: none
            margin: 0

        &--responsive
            &__nav
                display: block

    .slider
        &__mensaje
            left: 50%

            &__title
                font-size: rem(48)
