@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.ttf");
}

@font-face {
  font-family: "Josefin Slab";
  src: url("../fonts/JosefinSlab-Regular.ttf");
}

\:focus {
  outline: 0;
}

.active {
  background: #2ecc71;
}

.active a {
  color: #34495e;
}

.header {
  width: 100%;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  background: rgba(52, 73, 94, 0.9);
  position: absolute;
  z-index: 2;
}

.header-filtro {
  width: 100%;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  background: #34495e;
}

.header__nav {
  max-width: 80rem;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.header__nav:hover .header__title {
  margin-left: 0.3125rem;
}

.header__nav:hover .header__menu {
  margin-right: 0;
}

.header__title {
  color: #2ecc71;
  margin: 0 0 0 1.25rem;
  font-family: "Josefin Slab", serif;
  transition: all 400ms ease;
  display: inline-block;
}

.header__title__icon {
  color: #2ecc71;
  margin-right: 0.625rem;
  font-size: 2rem;
}

.header__menu {
  display: flex;
  justify-content: center;
  margin-right: 1.25rem;
  transition: all 400ms ease;
}

.header__item {
  list-style-type: none;
  padding: 0.75rem;
  transition: all 350ms ease;
  border-radius: 0.5rem;
  margin-left: 0.3125rem;
  cursor: pointer;
}

.header__item:first-child {
  margin-left: 0;
}

.header__item:hover {
  background: #2ecc71;
}

.header__item:hover a {
  color: #34495e;
}

.header__link {
  text-decoration: none;
  color: #2ecc71;
  font-family: "Montserrat", sans-serif;
}

.header--responsive__nav {
  display: none;
}

.header .hamburger {
  opacity: 1;
}

.header .hamburger-inner, .header .hamburger-inner:before, .header .hamburger-inner:after {
  background: #2ecc71;
}

.slider {
  height: 100vh;
}

.slider ul li {
  height: 100vh;
}

.slider__filtro {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;
  background: rgba(0, 0, 0, 0.6);
}

.slider__mensaje {
  position: absolute;
  top: 50%;
  left: 35%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.slider__mensaje__title {
  font-family: "Josefin Slab", serif;
  color: rgba(255, 255, 255, 0.8);
  font-size: 4rem;
}

.tabla {
  margin-top: 2.5rem;
}

.tabla__title {
  font-family: "Josefin Slab", serif;
  color: #2ecc71;
}

.tabla__wrap {
  width: 90%;
  margin: 2rem;
}

.tabla__select {
  border: 0.25rem solid #2ecc71;
  padding: 0.5rem;
  font-family: "Montserrat", sans-serif;
  color: #34495e;
  background: none;
  margin-bottom: 1.25rem;
}

.tabla__select:focus {
  outline-offset: 0;
}

.func__charts {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.func__charts img {
  height: 350px;
}

body, html {
  height: 100vh;
}

#map {
	width: 100%;
	height: 100%; 
	frameborder: 0;
	border: 0;
}

.open {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 750px) {
  .header {
    padding-top: 0.9375rem;
    padding-bottom: 0.5rem;
  }
  .header__menu {
    display: none;
    margin: 0;
  }
  .header--responsive__nav {
    display: flex;
    justify-content: center;
  }
  .header__nav {
    display: flex;
    justify-content: center;
  }
  .header__title {
    text-align: center;
  }
  .slider__mensaje {
    left: 50%;
  }
  .slider__mensaje__title {
    font-size: 3rem;
  }
  .func__chart img {
    height: 300px;
  }
}
