<!DOCTYPE html>
html(lang="en")
head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Mi Municipio

    - css_link = [ 'normalize' , 'animate' , 'unslider' , 'hamburgers' , 'style' ]
    each item in css_link
        link(rel="stylesheet", href="css/#{item}.css")

    - js_link = [ 'jquery' , 'wow' , 'unslider' , 'functions' ]
    each item in js_link
        script(src="js/#{item}.js")
body
    
